* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    border: none;
}

html {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
}

body {
    font-size: 1.4rem;
}

button, a {
    cursor: pointer;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #068B99;
    display: flex;
    justify-content: center;
    align-items: center;
}